// global variables


// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// breakpoints
$breakpoint-mobile: "(min-width: 400px)";
$breakpoint-phablet: "(min-width: 550px)";
$breakpoint-tablet: "(min-width: 750px)";
$breakpoint-desktop: "(min-width: 1000px)";
$breakpoint-desktophd: "(min-width: 1200px)";