.filter {
  *zoom: 1; }
  .filter:before, .filter:after {
    content: " ";
    display: table; }
  .filter:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5rem; }

p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem; }

a {
  color: #3CD3AD;
  text-decoration: none; }
  a.active, a:hover {
    color: #4CB8C4; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

/* Layout */
.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
  width: 90%; }

.header {
  position: relative;
  padding: 1rem 0 0 0; }

.main {
  padding: 20px 0; }

/* Header */
.header {
  background: linear-gradient(to right, #4CB8C4, #3CD3AD); }

.header button {
  padding: 0.85em 1.25em;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  vertical-align: middle;
  border-radius: 0;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  outline: 0; }
  .header button:hover {
    border: 1px solid #000;
    background-color: #000;
    color: #fff; }

/* Filter */
.filter {
  background-color: #e7ecea; }

.filter ul {
  display: flex;
  justify-content: center; }

.filter li {
  list-style-type: none;
  left: -1px;
  display: block;
  text-align: center;
  flex: 2; }
  .filter li:last-child {
    flex: 3;
    text-align: right; }

.filter a {
  position: relative;
  display: block;
  margin: 0.6rem 0;
  text-decoration: none; }
  .filter a.active::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 0.6rem;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #e7ecea;
    content: '';
    pointer-events: none; }
  .filter a .text {
    display: none;
    margin-left: 0.8rem; }
  .filter a .icon {
    top: 2px;
    position: relative;
    font-size: 1.2rem; }
  .filter a:hover:not(.active) .text {
    text-decoration: underline; }

.filter li a {
  border-left: 1px solid rgba(0, 0, 0, 0.07); }

@media (min-width: 750px) {
  .filter a {
    margin: 1rem 0; }
    .filter a.active::after {
      margin-top: 1rem; }
  .filter li a .text {
    display: inline-block; } }

/* Todolist */
.todolist .listitem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc; }
  .todolist .listitem .actions {
    flex: 3;
    order: 2;
    text-align: right; }
  .todolist .listitem .date {
    order: 1;
    flex: 2; }
  .todolist .listitem .todo {
    order: 2;
    flex: 5; }

@media (max-width: 47.9em) {
  .todolist .listitem {
    align-items: center; }
    .todolist .listitem .actions {
      flex: none;
      width: 50%;
      order: 2;
      text-align: right; }
    .todolist .listitem .date {
      flex: none;
      width: 50%;
      order: 1; }
    .todolist .listitem .todo {
      flex: none;
      width: 100%;
      order: 3; } }

.todolist button {
  padding: 0.45em 0.85em;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  vertical-align: middle;
  border-radius: 0;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  border: 1px solid #3CD3AD;
  color: #3CD3AD;
  background-color: transparent;
  outline: 0;
  margin-bottom: 0; }
  .todolist button:hover {
    border: 1px solid #000;
    background-color: #000;
    color: #fff; }

.todolist .title {
  font-weight: 600; }

.todolist .duedate {
  font-size: 0.7rem; }

.todolist .status {
  float: left;
  cursor: pointer; }
  .todolist .status:hover {
    text-decoration: underline;
    color: #4CB8C4; }
  .todolist .status .status-text {
    margin-left: 4px; }
  .todolist .status .status-icon {
    position: relative;
    top: 1px;
    font-size: 1.1rem; }
