// global variables
/*$font-stack:    "Lato", sans-serif;
$primary-color: #4cb8c4;
$secondary-color: #3cd3ad;

$alternate-color: #000;
$muted-color: #ccc;

$success-color: $primary-color;*/

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// breakpoints
$breakpoint-extrasmall: "(max-width: 33.9em)";
$breakpoint-small: "(max-width: 47.9em)";
$breakpoint-medium: "(max-width: 61.9em)";
$breakpoint-large: "(max-width: 74.9em)";