$font-stack:    "Lato", sans-serif;
$primary-color: #4cb8c4;
$secondary-color: #3cd3ad;

$alternate-color: rgb(0, 0, 0);
$grey2: rgb(224, 224, 224);
$grey: rgb(241, 241, 241);

$success-color: $primary-color;